[*.cs]

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped
csharp_style_expression_bodied_methods=true:silent
csharp_style_expression_bodied_constructors=true:silent
csharp_style_expression_bodied_operators=true:silent
