<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
            <span class="icon-text">
                <span class="icon has-text-primary">
                    <ion-icon name="timer" aria-hidden="true"></ion-icon>
                </span>
                <span>Home</span>
            </span>
        </NavLink>

        <NavLink class="navbar-item" href="/settings" Match="NavLinkMatch.All">
            <span class="icon-text">
                <span class="icon has-text-primary">
                    <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
                </span>
                <span>Settings</span>
            </span>
        </NavLink>

        <a role="button" class="@BurgerMenuCssClass" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @onclick="ToggleBurgerMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private string? BurgerMenuCssClass => _collapseNavMenu ? "navbar-burger" : "navbar-burger is-active";

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private void ToggleBurgerMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}