@inject IStorageProcessor _storageProcessor

<p class="box level">
    <div class="level-left">
        <span class="level-item">@ProjectType.Type</span>
        <span class="level-item">@ProjectType.Category</span>
        <button class="button delete is-danger level-item" @onclick="DeleteProject"></button>
    </div>
</p>

@code {

    [Parameter]
    [EditorRequired]
    public ProjectType ProjectType { get; set; } = null!;

    public async Task DeleteProject() => await _storageProcessor.RemoveProjectType(ProjectType);
}