@inject IStorageProcessor _storageProcessor

<p class="box level">
    <div class="level-left">
        <span class="level-item">@Project.Id</span>
        <span class="level-item">@Project.Name</span>
        <button class="button delete is-danger level-item" @onclick="DeleteProject"></button>
    </div>
</p>

@code {

    [Parameter]
    [EditorRequired]
    public Project Project { get; set; } = null!;

    public async Task DeleteProject() => await _storageProcessor.RemoveProject(Project);
}