@implements IDisposable
@inject IStorageProcessor _storageProcessor

<div class="box is-grouped">
    <div class="field is-horizontal">
        <div class="field-body">

            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>DRD</option>
                            <option>SZT</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <p class="control">
                    <input class="input" placeholder="Id" @bind="@NewId">
                </p>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" placeholder="name" @bind="@NewName">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" @onclick="InsertNewProject">Add project</button>
                </div>
            </div>

        </div>
    </div>
</div>

<Iterations Items="_storageProcessor.AllProjects">
    <ProjectView Project="@context"/>
</Iterations>

@code {

    public string NewId { get; set; } = string.Empty;

    public string NewName { get; set; } = string.Empty;

    protected override void OnInitialized() => _storageProcessor.ProjectsChanged += StateHasChanged;

    public void Dispose() => _storageProcessor.ProjectsChanged -= StateHasChanged;

    private async Task InsertNewProject()
    {
        if (string.IsNullOrWhiteSpace(NewId)
            || string.IsNullOrWhiteSpace(NewName)
            || _storageProcessor.AllProjects.Any(project => project.Id == NewId || project.Name == NewName)) return;

        await _storageProcessor.AddProject(new Project
        {
            Id = NewId,
            Name = NewName
        });
    }

}